__pycache__

data
*.ipynb
tmp.py
trained_models
predictions
new_trained_models
new_predictions
epochs
vars.txt
wl_training.txt
nl_training.txt
5epoch_training.txt
us_migration_allvars.csv

data_for_portal.csv
subset_for_test.csv
mex_migration_allvars.csv
data_for_portal_subset.csv
mex_migration_allvars_subset.csv